@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    @font-face {
        font-family: "helvetica";
        src: url("/public/fonts/FreeSans.otf") format('otf'),
             url("/public/fonts/FreeSans.ttf") format('ttf'),
             url("/public/fonts/FreeSansBold.otf") format('otf'),
             url("/public/fonts/FreeSansBold.ttf") format('ttf');
             
        font-display: swap;
    }
  }
